@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Urbanist&family=Nunito&family=Arimo:wght@400;500;600;700&family=Montserrat:wght@100&family=Catamaran:wght@200&&family=Didact+Gothic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::selection {
  background: #f81ce5; /* WebKit/Blink Browsers */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: black;
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  div {
    @apply font-heading;
  }
}
